<ul>
    <li *ngFor="let data of detailedArray">
        <p>Hii</p>
        <div>
            <p>{{data.Product}}</p>
            <p>{{data.Brand}}</p>
            <p><img style="height: 450px; width: 450px;" src={{data.Image}} alt=""></p>
            <p>{{data.Price}}</p>
            <p>{{data.Description}}</p>
            <input type="button" class="fade" (click)="clickAddToCart(data)" value="Add to cart">
            <input type="button" class="fade" (click)="backPage()" value="Back to product list">
        </div>
    </li>
</ul>