body{
    padding: 30px;
    color: #030202;
    border: 5px solid rgb(45, 30, 70);
    align-items: flex-end;
    width: 250px;
    height: 450px;
    overflow: scroll;
    position: relative;
    left:75px;
    top: 50px;  
  }

 